#round {
    width: 110px;
    float: right;
}

body {
    background: #23074d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

tbody {
    background: white;
}


#generate {
    float: left;
    width: 100px;
    background: whitesmoke;
}

h1 {
    color: whitesmoke;
}

#round-form {
    padding-top: 20px;
    padding-bottom: 25px;
}

.container {
    max-width: 600px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
  }
  table tr th,
  table tr td {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding: 5px;
  }
  table tr th:first-child,
  table tr td:first-child {
    border-left: 1px solid #bbb;
  }
  table tr th {
    background: #eee;
    border-top: 1px solid #bbb;
    text-align: left;
  }
  
  /* top-left border-radius */
  table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

  .box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}